<div id="container-instructions">

	<h1>Demographics</h1>

	<hr />

	<div class="instructions well">

	  <form id="demographicquestionnaire" action="">
	    <div class="row question">
	      <p>Gender:</p>
	      <input type="radio" name="gender" value="na" > N/A<br>
	      <input type="radio" name="gender" value="male" > Male<br>
	      <input type="radio" name="gender" value="female"> Female<br>
	      <p>Age:
	      <input type="number" name="age" id="age"/></p>
	    </div>
	  </form>


	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


   <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">	      
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
