<div id="container-instructions">

	<h1>Instructions</h1>

	<hr />

	<div class="instructions well">

            <p>
               In this experiment, you will be shown a video of a human-robot interaction, then you will be shown <b>four different ways</b> the robot could respond in the interaction.
							 Please watch the robot <b>closely</b> in all four response videos. You will be asked to answer questions after each response video.
               Please watch all videos attentively and answer all questions carefully.
            </p>

	    <script type="text/javascript">
	    //console.log(psiTurk.getInstructionIndicator())
	    </script>

	</div>

	<hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
            	<!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>
