<div id="container-questionnaire">



    <p>Please select the answers that best describe your impression of the robot. You must answer all questions to continue.
    </p>
  <br/>

  <div class="instructions well">

    <form id="post_like" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p> Name a joke, punchline, or both to one of the jokes you heard during the video. </p>
	  <form>
      <textarea name="Fname" rows="10" cols="60"></textarea>
    </form>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>  Did you enjoy the majority of jokes told by the NAO? </p>
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Enjoyed none of them </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Enjoyed all of them </li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p> Did you find the format of the jokes told by the NAO easy to follow along with? </p>
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="3" name="3">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Unclear </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Understandable </li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p> Did you find the NAO to be polite and/or friendly while asking jokes? <\p>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="4" name="4">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Rude/Unfriendly </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Polite/Friendly </li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
	  <div class="col-md-8"> <p> By the end of the video, did you want to continue hearing the NAO tell jokes? </p>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Not Really </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Absolutely </li>
	  </ul>
        </div>
      </div>
      <!-- end of a question -->
    </form>

</div>




  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
