<div id="container-questionnaire">
    
	<p>
	Please click the point on the following scales that best describes your impression of the relationship between the robot and the student who made the request while the other was gone.
	</p>
	<br/>

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>
	     1 = The robot is socially superior to the student (e.g., an authority figure).<br/>
	     4 = The robot and the student are peers.<br/>
	     7 = The student is socially superior to the robot (e.g., an authority figure).
	  </p> <br/>
        <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="1" name="1">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>
	     1 = The robot and the student are basically strangers.<br/>
	     7 = The robot and the student are as close as family members or very good friends.
	  </p> <br/>
        <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="2" name="2">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
      <!-- end of a question -->
    </form>
  </div>



  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
