<div id="container-questionnaire">
  
  
  
    <p>Please click the point on each of the following scales that best describes your impression of the robot. You must answer all questions to continue. 
    </p>
  <br/>

  <div class="instructions well">

    <form id="post_like" action="">


      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="1" name="1">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Dislike </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Like </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Unfriendly </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Friendly </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="3" name="3">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Unkind </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Kind </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="4" name="4">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Unpleasant </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Pleasant </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Awful </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Nice </li>
	  </ul>
        </div>
      </div>     
      <!-- end of a question -->
    </form>
  </div>
  <hr />


<p>On the following scales, please indicate the degree to which you believe the robot possessed the indicated attribute. 
      <span class="response"/>      
    </p>
  <br/>
  
  <div class="instructions well">

    <form id="post_only" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>Directness</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="6" name="6">
	  </div>

	  <ul class="range-labels-7">
	    <li>-3 <br/> Not direct enough </li>
	    <li>-2</li>
	    <li>-1</li>
	    <li>0 <br/> Appropriately direct </li>
	    <li>1</li>
	    <li>2</li>
	    <li>3 <br/> Too direct </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>Politeness</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="7" name="7">
	  </div>

	  <ul class="range-labels-7">
	    <li>-3 <br/> Not polite enough </li>
	    <li>-2</li>
	    <li>-1</li>
	    <li>0 <br/> Appropriately polite </li>
	    <li>1</li>
	    <li>2</li>
	    <li>3 <br/> Too polite </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
    <hr/>
    </form>
  </div>

<p>
You will now be presented with 4 short interactions between the humans and robot from the previous video.
Each interaction consists of 2 videos, a request video and a response video.
Click "Continue" to proceed to the first request video.
</p>

  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
