<div id="container-questionnaire">

      <p>
        Please click the point on each of the following scales that best represents your beliefs. You must answer all questions to continue.
      </p>
    <br/>

    <div class="instructions well">

      <form id="pre_premissibility" action="">
      
      <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> 
          <p>Please click the point on the following scale that best describes your opinion of the request that the student made in the previous video.<br/>
          1 = "There is nothing wrong with the student's request."<br/>
          7 = "The student's request constitutes an <b>extremely severe</b> violation of moral or social norms."</p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="0" name="0">
  	  </div>

  	  <ul class="range-labels-7">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
        <hr/>
        
        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> <p>Do <b>you</b> believe it would be <b>morally permissible</b> for the robot to comply with the student's request?<br/>
          1 = "I believe it would be completely <b>impermissible</b>"<br/>
          7 = "I believe it would be completely <b>permissible</b>"</p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="1" name="1">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
        <hr/>
        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> <p>Do you believe that <b>the robot</b> would believe it to be <b>morally permissible</b> to comply with the student's request?<br/>
          1 = "I believe the robot would believe it to be completely <b>impermissible</b>"<br/>
          7 = "I believe the robot would believe it to be completely <b>permissible</b>"</p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="2" name="2">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->

    </form>
  </div>
  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
