<div id="container-questionnaire">
  
  
  
    <p>Please click the point on each of the following scales that best describes your impression of the robot. You must answer all questions to continue. 
    </p>
  <br/>

  <div class="instructions well">

    <form id="post_like" action="">


      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Dislike to 5=Like</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="1" name="1">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Unfriendly to 5=Friendly</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Unkind to 5=Kind</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="3" name="3">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Unpleasant to 5=Pleasant</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="4" name="4">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>1=Awful to 5=Nice</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5">
	  </div>

	  <ul class="range-labels-5">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
    </form>
  </div>
  <hr />
  


    <p>Please click the point on each of the following scales that best describes your feeling or impression, where 1 indicates "not at all", and 7 indicates "extremely".
       In this questionnaire, the phrase "the system" refers to the Pepper robot. 
      <span class="response"/>      
    </p>
  <br/>
  
  <div class="instructions well">

    <form id="post_trust" action="">


      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system is deceptive</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="6" name="6">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system behaves in an underhanded manner</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="7" name="7">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am suspicious of the system's intent, action, or outputs</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="8" name="8">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am wary of the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="9" name="9">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system's actions will have a harmful or injurious outcome</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="10" name="10">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am confident in the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="11" name="11">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system provides security</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="12" name="12">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system has integrity</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="13" name="13">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system is dependable</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="14" name="14">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>The system is reliable</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="15" name="15">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I can trust the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="16" name="16">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>I am familiar with the system</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="17" name="17">
	  </div>

	  <ul class="range-labels-7">
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5</li>
	    <li>6</li>
	    <li>7</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
    </form>
  </div>




<div class="instructions well">

    <form id="post_misc" action="">

      <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> 
          <p>Please click the point on the following scale that best describes your opinion of the request that the student made in the previous video.<br/>
          1 = "There is nothing wrong with the student's request."<br/>
          7 = "The student's request constitutes an <b>extremely severe</b> violation of moral or social norms."</p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="18" name="18">
  	  </div>

  	  <ul class="range-labels-7">
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
        <hr/>
        
        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> <p>Do <b>you</b> believe it would be <b>morally permissible</b> for the robot to comply with the student's request?<br/>
          1 = "I believe it would be completely <b>impermissible</b>"<br/>
          7 = "I believe it would be completely <b>permissible</b>"</p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="19" name="19">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
        <hr/>
        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> <p>Do you believe that <b>the robot</b> would believe it to be <b>morally permissible</b> to comply with the student's request?<br/>
          1 = "I believe the robot would believe it to be completely <b>impermissible</b>"<br/>
          7 = "I believe the robot would believe it to be completely <b>permissible</b>"</p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="20" name="20">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
      <hr/>
      
      
      
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Please click the point on the following scale that best describes your impression of the relationship between the robot and the student who made the request while the other was gone.<br/>
	     1 = The robot is socially superior to the student (e.g., an authority figure).<br/>
	     4 = The robot and the student are peers.<br/>
	     7 = The student is socially superior to the robot (e.g., an authority figure).
	  </p> <br/>
        <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="21" name="21">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <p>Please click the point on the following scale that best describes your impression of the relationship between the robot and the student who made the request while the other was gone.<br/>
	     1 = The robot and the student are basically strangers.<br/>
	     7 = The robot and the student are as close as family members or very good friends.
	  </p> <br/>
        <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="22" name="22">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1</li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7</li>
  	  </ul>
          </div><br/>
        </div>
      <!-- end of a question -->
    </form>
  </div>



<p>On the following scales, please indicate the degree to which you believe the robot possessed the indicated attribute, 
where -3 indicates too little of the attribute, 0 indicates the ideal amount of the attribute, and 3 indicates too much of the attribute. 
      <span class="response"/>      
    </p>
  <br/>
  
  <div class="instructions well">

    <form id="post_only" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>Directness</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="23" name="23">
	  </div>

	  <ul class="range-labels-7">
	    <li>-3</li>
	    <li>-2</li>
	    <li>-1</li>
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>Politeness</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="24" name="24">
	  </div>

	  <ul class="range-labels-7">
	    <li>-3</li>
	    <li>-2</li>
	    <li>-1</li>
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> <p>Respectfulness</p><br/>

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="25" name="25">
	  </div>

	  <ul class="range-labels-7">
	    <li>-3</li>
	    <li>-2</li>
	    <li>-1</li>
	    <li>0</li>
	    <li>1</li>
	    <li>2</li>
	    <li>3</li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
    
    <hr/>
    </form>
  </div>



  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
