<div id="container-questionnaire">
  
  
  
    <p>Please click the point on each of the following scales that best describes your impression of the robot. You must answer all questions to continue. 
    </p>
  <br/>

  <div class="instructions well">

    <form id="post_like" action="">


      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="1" name="1">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Incompetent </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Competent </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="2" name="2">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Ignorant </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Knowledgeable </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="3" name="3">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Irresponsible </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Responsible </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="4" name="4">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Unintelligent </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Intelligent </li>
	  </ul>
        </div><br/>
      </div>     
      <!-- end of a question -->
      <hr/>
      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8"> 

	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="5" name="5">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> Foolish </li>
	    <li>2</li>
	    <li>3</li>
	    <li>4</li>
	    <li>5 <br/> Sensible </li>
	  </ul>
        </div>
      </div>     
      <!-- end of a question -->
    </form>
  </div>
  <hr />



<div class="instructions well">

    <form id="post_misc" action="">

        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> <p>Do <b>you</b> believe it would be <b>morally permissible</b> for the robot to comply with the person's request?<br/>
          </p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="6" name="6">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1 <br/> Impermissible </li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7 <br/> Permissible </li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
        <hr/>

        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> <p>Do you believe that <b>the robot</b> would believe it to be <b>morally permissible</b> to comply with the person's request?<br/>
          </p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="7" name="7">
  	  </div>

  	  <ul class="range-labels-7">
  	    <li>1 <br/> Impermissible </li>
  	    <li>2</li>
  	    <li>3</li>
  	    <li>4</li>
  	    <li>5</li>
        <li>6</li>
        <li>7 <br/> Permissible </li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
        <hr/>

        <!-- beginning of a question -->
        <div class="row question">
          <div class="col-md-8"> 
          <p>Was the robot's response to the person's request appropriate?
          </p><br/>

  	  <div class="rangeholder">
  	    <input type="range" class='not-clicked' id="8" name="8">
  	  </div>

  	  <ul class="range-labels-7">
            <li>1 <br/> Inappropriate</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7 <br/> Appropriate</li>
  	  </ul>
          </div><br/>
        </div>
        <!-- end of a question -->
        <hr/>
        
    </form>
  </div>



  <hr />
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
